#new-message.reveal-modal{"data-reveal" => ""}
  .modal_heading
    %h2 new message
  .modal_body
    #select-recipient
      %p who would you like to message?
      %input#search_people{:type=>'text', :placeholder => 'type a user name',:style=>"width: 95%; margin-top: 10px;"}
        #search_result
    #message-text{:style=>"display:none;"}
      =form_for :offer, :url => conversations_path,:html => {:id => "message-form"} do |f|
        = f.text_area :text, :id => 'text', :name => 'text', :class => 'message-form',:placeholder => 'say something PRIVATELY to this user'
        %input{:type => 'hidden', :name => 'user_id', :id => 'user-id'}
        .modal_button
        = f.submit 'Send Message', :class => "button"
  %a.close-reveal-modal ×

:javascript
  function setClickBehavior() {
    $('.username').click(function() {
      if($(this).data("username") == "#{current_user.username}") {
        $.notification({ message:"you can't message yourself, silly user" });
        $('#search_result').empty();
        $('#search_people').val('');
      }
      else {
        console.log($(this));
        console.log($(this).data);
        $('#user-id').val($(this).data("user"));
        $('#search_people').val($(this).data("username"));
        $('#search_result').empty();
        $('#message-text').css("display","block");
        $('#text').attr('placeholder','send a message to @' + $(this).data("username"));
        $('#text').focus();
      }

    });
  };

  $(document).ready(function() {
    $('#search_people').focus();
    $('textarea.message-form').focus(function () {
      $(this).animate({ height: "8em" }, 500);
    });
    $('#search_people').click(function() {
      $(this).select();
    });


  jQuery(function(){
      jQuery('input#search_people')
        .data('timeout', null)
        .keyup(function(){
            clearTimeout(jQuery(this).data('timeout'));
            jQuery(this).data('timeout', setTimeout(function(){

             //timeout function
             $.post('/users/autocomplete', { q: $("input#search_people").val()}, function(data) {

                Jaml.register('user', function(user) {
                  a({href: ("#"), cls: "username", "data-user": user.user.id, "data-username": user.user.username},
                    div(
                      img({src: '/assets/profile.svg'}),
                      span(user.user.username)
                      )
                    )
                  div({cls: "clearboth"})
                });



                 if(data.length > 0){
                  console.log('gggggg');
                  $("#search_result").show();
                   $("#search_result").html("people matching '"+ $("input#search_people").val() + "'")
                   $(data).each(function(idx, d){
                     $("#search_result").append(Jaml.render('user',d));
                     setClickBehavior();
                   })
                 }else{
                   $("#search_result").html("no result")
                 }

                 }, "json");

            //timeout function

            }, 500));
        });
    });

  });