$('#message').empty();
$('#message').html("#{escape_javascript render :partial => 'message_thread', :locals => {offer:@offer}}");
$('#message-link-#{@offer.id} .message-item').html("#{escape_javascript render :partial => 'message_link', :locals => {offer:@offer}}");
$.get("/users/check_notifcations"); 
