=link_to pages_path(:page=>'about') do
	=icon('gear', '', class: 'fa-2x fa-fw inline side-pads')
	.label about us
=link_to pages_path(:page=>'contact') do
	=icon('user', '', class: 'fa-2x fa-fw inline side-pads')
	.label contact us
=link_to pages_path(:page=>'privacy') do
	=icon('heart', '', class: 'fa-2x fa-fw inline side-pads')
	.label privacy policy	