
%footer.footer
  .row
    .small-12.medium-6.large-3.columns
      %p.logo
        %i.fi-shield
        Crazy Dancing Guy
      %p.footer-links
        =link_to "About", pages_path("about")
        =link_to "How it Works", pages_path("how-it-works")
        =link_to "Privacy Policy", pages_path("privacy")
        =link_to "Contact Me", '/contact-us'
        -if user_signed_in?

          = link_to "Log out", destroy_session_path(:user), :method => :delete

    .small-12.medium-6.large-4.columns
      %p.logo Socialize with us
      %ul.contact
        %li
          %p
            %i.fi-social-facebook>
            =link_to 'facebook.com/CrazyDancingGuy', 'http://facebook.com/CrazyDancingGuy'
        %li
          %p
            %i.fi-social-twitter>
            =link_to 'twitter.com/CrazyDancingGuy', 'http://twitter.com/CrazyDancingGuy'

    .small-12.medium-6.large-5.columns

      %ul.hashtags
        %h3=link_to '@crazydancingguy',"http://crazydancingguy.com"
        %li=link_to '#climatejustice', 'https://twitter.com/hashtag/climatejustice'
        %li=link_to '#socialjustice', 'https://twitter.com/hashtag/socialjustice'
        %li=link_to '#genderequality', 'https://twitter.com/hashtag/genderequality'
      %hr
      .footer-links{:style=>'text-align:center;'}
        =link_to "Play With Your Mind", "http://playwithyourmind.com"
        =link_to "Presidential Election Games", "http://presidentialelectiongames.com"
        =link_to "The Keyboard Playground", "http://freeonlinetypinggames.com"
        =link_to "Good Luck Test", "http://goodlucktest.com"

#login.reveal-modal.remove-whitespace{"data-reveal" => ""}
  .row
    .large-6.columns.auth-plain
      .signup-panel.left-solid
        %p.welcome Registered Users
        %form#login-form
          .row.collapse
            .small-2.columns
              %span.prefix
                %i.fi-torso-female
            .small-10.columns
              %input{:placeholder => "username", :type => "text", :id =>'login-username'}
          .row.collapse
            .small-2.columns
              %span.prefix
                %i.fi-lock
            .small-10.columns
              %input{:placeholder => "password", :type => "password", :id => 'login-password'}
        %a.button{:href => "#",:id=>'login-button'} Log In
    .large-6.columns.auth-plain
      .signup-panel.newusers
        %p.welcome No account... yet?
        %p Why not sign up and exercise your first ammendment right to have some fun?  It's easy!
        =link_to new_user_registration_path, :class=>'button' do
          Sign Up
  %a.close-reveal-modal ×

#new-post.reveal-modal{"data-reveal" => ""}
  #form
  %a.close-reveal-modal ×

:javascript

  $('#login-button').on('click', function() {
    var data = {
      user: {login: $('#login-username').val(), password: $('#login-password').val(), remember_me: '1'}
    }

    $.ajax({ url: '/users/sign_in',
      type: 'POST',
      headers: {
          'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
        },
      data: data,
      success: function(response) {
        $('#login').foundation('reveal','close');
        $('.menu ul.inline-list').empty();
        setTimeout(function() {
           $('.menu ul.inline-list').html('#{escape_javascript render :partial=>"users/header_menu"}');
           window.location = '#{root_path}';
        }, 1000);


      },
      error: function(xhr, status, error) {
          alert(xhr.responseText);
       }
    });
  });

  $( document ).on('keyup','.autocomplete', function() {
      if($(this).val().length > 2) {
        $.get('#{autocomplete_tag_search_posts_path}',{q:$(this).val()}, function(data) {
          $('.autocomplete-options').empty();
          $('.autocomplete-options').show();
          $.each(data, function(index,value) {
            console.log(index,value);
            $('.autocomplete-options').append('<div class="autocomplete-option">'+value.name+'</div>');
          });

        });
      }
      else {
        $('.autocomplete-options').empty();
        $('.autocomplete-options').hide();
      }
  });

  $( document ).on( 'click', '#submit-post', function () {
      $('#post_tag_list').val('');
      $.ajax({ url: '/posts',
        type: 'POST',
        headers: {
            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
          },
        data: $('#post-form').serializeArray()
      });
  });

  $( document ).on( 'click', '.autocomplete-option', function () {
    $('#tag-list').append('<div class="tag" value="' + $(this).text() + '">' + $(this).text() + '<div class="del">X</div></div>');
    $('.autocomplete-options').empty();
    $('.autocomplete-options').hide();
    str = ''
    $('#tag-list').find('.tag').each(function() {

      str += $(this).attr("value") + ',';
    });
    str = str.substring(0,str.length-1);
    $('#post_tag_list').val(str);
    setTimeout(function(){
        $('.autocomplete').val('');
        $('.autocomplete').focus();

    }, 100);
  });
  $( document ).on( 'click', '.del', function (event) {
    $(event.target).parent().remove();

    str = ''
    $('#tag-list').find('.tag').each(function() {
      console.log('in');
      str += $(this).attr("value") + ',';
    });
    str = str.substring(0,str.length-1);
    $('#post_tag_list').val(str);
    $('.autocomplete').focus();
  })

