=link_to posts_path do
	=icon('gear', '', class: 'fa-2x fa-fw inline side-pads')
	.label meet the games
=link_to popular_posts_path do
	=icon('user', '', class: 'fa-2x fa-fw inline side-pads')
	.label current challenges
=link_to posts_path do
	=icon('heart', '', class: 'fa-2x fa-fw inline side-pads')
	.label archives	