.game-question =@board.content
.game-image =image_tag("game-images/#{@board.data}")
.game-instructions Your answer must include no more than 3 words not included in the above list, and be 250 characters or less.