%h4 Post a comment
=form_for :post, url: posts_path, :id =>"post-form" do |f|
  =f.hidden_field :resource_type, :value=>'prose'
  %label Say what's on your mind
  =f.text_area :body, :class =>'first-input'
  %label Title
  =f.text_field :title
  %label Category
  -#=f.select :category_id, content_tag(:option,'--',:value=>"")+options_from_collection_for_select(Category.all, 'id', 'name'),:id=>'category-id'
  %label Tag relevant keywords or topics
  #tag-list
  %input{:type => 'text', :name => 'tags', :class => 'autocomplete', :autocomplete=>'off'}
  =f.hidden_field :tag_list
  .autocomplete-options
  =f.submit "save"

