
-if user_signed_in?
  #reactions
    -if current_user != post.user
      =link_to create_or_destroy_reaction_post_path(post.id, :type => "like"),  :remote=>"true",:method => "post" do
        .like
          %i.fi-like
          .count=post.reactions.liked.size
      =link_to create_or_destroy_reaction_post_path(post.id, :type => "love"),  :remote=>"true",:method => "post" do
        .love
          %i.fi-heart
          .count=post.reactions.loved.size
      =link_to create_or_destroy_reaction_post_path(post.id, :type => "share"),  {:remote=>"true",:method => "post"} do
        .share
          %i.fi-share
          .count=post.reactions.shared.size

    .fb-share-button{:style => 'margin-left: 13px;',"data-href" => post_url(post), "data-layout" => "button"}
