// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-author {
  height: 40px;
  color: #222;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  float:left;
  img {
   margin-right:8px;
   width: 30px;
   vertical-align:middle;
  }
}
.post-summary {
}

.post-flagged {
  padding: 5px 10px;
}

.post-box {
  position:relative;
}



.more-questions {

}
.full-post {
  color: #35404F;
  padding: 2px 7px;
  width: 100%;
  .more-questions {
    right: -98%;
  }

}

.flag-options {
  text-align:center;
  padding: 15px 0 0;
}

.follow-author {
  margin: 9px 0 0 15px;
  float:left;
}

